doctype html
html
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title= title
      <link rel="shortcut icon"    href="/images/favicon_57x57.png" type="image/x-icon" />
      <link rel="icon"             href="/images/favicon_57x57.png" />
      <link rel="apple-touch-icon" href="images/favicon_57x57.png" />

      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js')
      script(src='app.js')

      <!-- Bootstrap -->
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
      script var fightid = '#{fightId}', adminid = '#{adminId}' fightTitle = '#{fightTitle}';
   body